.article-form {
  max-width: 75vw;
  margin: 0 auto;
  padding: 20px;
  border: 5px solid #000000;
  border-radius: 10px;
  text-align: center;
}

.article-title{
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.article-checkbox {
  margin: 20px 0;
}

.article-content {
  height: 50vh;
  margin-bottom: 2vw; /* Значення за замовчуванням */

  /* Медіазапит для вузьких екранів */
  @media screen and (max-width: 469px) {
    margin-bottom: 160px; /* Величина відступу для екранів шириною менше 269px */
  }

  @media screen and (min-width: 470px) and (max-width: 552px) {
    margin-bottom: 135px; /* Величина відступу для екранів шириною від 601px до 552px */
  }

  @media screen and (min-width: 553px) and (max-width: 733px) {
    margin-bottom: 110px; /* Величина відступу для екранів шириною від 553px до 733px */
  }

  @media screen and (min-width: 734px) and (max-width: 1413px) {
    margin-bottom: 85px; /* Величина відступу для екранів шириною від 734px до 1413px */
  }


  @media screen and (min-width: 1414px) {
    margin-bottom: 60px; /* Величина відступу для екранів шириною більше 1413px */
  }
}

.article-form button {

  width: 50%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.article-form button:hover {
  background-color: #0056b3;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.modal-content h2 {
  margin-top: 0;
}

.modal-content button {
  margin-top: 20px;
}
